@font-face{
  font-family: 'Fira Code';
  src: url('../fonts/Fira\ Code.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Hack';
  src: url('../fonts/Hack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Hasklig';
  src: url('../fonts/Hasklig.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}